<nav class="navbar navbar-default" id="footer">
  <div class="container-fluid">
    <p class="navbar-text navbar-right">
        <small>report based on:&nbsp;</small>
        <a class="navbar-link" href="https://github.com/damianszczepanik/cucumber-reporting">Cucumber Reporting</a>
        &nbsp;&nbsp;
    </p>
  </div>
</nav>
