#macro(includeLead, $pageTitle, $pageDescription)
<div id="report-lead" class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <h2>$pageTitle</h2>
    #if($pageDescription)
      <p>$pageDescription</p>
    #end
  </div>
</div>
#end
