#parse("includes/head.vm")

#parse("macros/page/title.vm")
#parse("macros/page/navigation.vm")
#parse("macros/page/buildinfo.vm")
#parse("macros/page/classifications.vm")
#parse("macros/page/reportInfo.vm")
#parse("macros/page/lead.vm")

#parse("macros/report/reportHeader.vm")
#parse("macros/report/statsTable.vm")
#parse("macros/report/reportTable.vm")

#parse("macros/report/expandAllButtons.vm")

#parse("macros/section/duration.vm")
#parse("macros/section/brief.vm")

#parse("macros/section/tags.vm")

#parse("macros/section/message.vm")
#parse("macros/section/output.vm")
#parse("macros/section/embeddings.vm")
#parse("macros/section/hooks.vm")
#parse("macros/section/docstring.vm")
#parse("macros/section/steps.vm")
#parse("macros/section/scenario.vm")
