
#include("includes/head.vm")

#parse("macros/array.js.vm")

#parse("macros/page/buildinfo.vm")
#parse("macros/page/classifications.vm")
#parse("macros/page/lead.vm")
#parse("macros/page/navigation.vm")
#parse("macros/page/reportInfo.vm")
#parse("macros/page/title.vm")

#parse("macros/report/expandAllButtons.vm")
#parse("macros/report/reportTable.vm")
#parse("macros/report/reportHeader.vm")
#parse("macros/report/statsTable.vm")

#parse("macros/json/brief.vm")
#parse("macros/json/docstring.vm")
#parse("macros/json/duration.vm")
#parse("macros/json/element.vm")
#parse("macros/json/embeddings.vm")
#parse("macros/json/hooks.vm")
#parse("macros/json/output.vm")
#parse("macros/json/message.vm")
#parse("macros/json/steps.vm")
#parse("macros/json/tags.vm")
