#macro(includePieChart, $title, $canvasId, $summary)

<script type="text/javascript">
$(document).ready(function() {

    var chartData = {
        datasets: [{
            data: [
                 $summary.passed,
                 $summary.skipped,
                 $summary.failed
            ],
            backgroundColor: [
                "#00B000",
                "#80A0FF",
                "#FF3030"
            ]
        }],
        labels: [
            "Passed",
            "Skipped",
            "Failed"
        ]
    };

    var context = document.getElementById("$canvasId");
    window.myBar = new Chart(context, {
        type: "pie",
        data: chartData,
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: "$title"
            },
            responsive: true,
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];
                        var tooltipPercentage = Math.round(10000 * tooltipData / $summary.total) / 100;
                        return tooltipLabel + ": " + tooltipData + " (" + tooltipPercentage + "%)";
                    }
                }
            }
        }
    });

});
</script>

#end