#macro(includeReportTable, $tableKey, $item)

<div class="container-fluid" id="report">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="stats-table">

        <thead>
		  <tr class="header dont-sort">
		    <th></th>
		    <th colspan="6">Steps</th>
		    <th colspan="4">Scenarios</th>
		    <th colspan="2">Features</th>
		  </tr>
		  <tr>
		    <th>$tableKey</th>
		    <th class="passed">Passed</th>
		    <th class="failed">Failed</th>
		    <th class="skipped">Skipped</th>
		    <th class="pending">Pending</th>
		    <th class="undefined">Undefined</th>
		    <th class="total">Total</th>
		
		    <th class="passed">Passed</th>
		    <th class="skipped">Skipped</th>
		    <th class="failed">Failed</th>
		    <th class="total">Total</th>
		
		    <th>Duration</th>
		    <th>Status</th>
		  </tr>
		</thead>

        <tbody>
        <tr>
          <td class="tagname">$item.getName()</td>
          
          <td #if ($item.stepsSummary.passed != 0)     class="passed"    #end>$item.stepsSummary.passed</td>
          <td #if ($item.stepsSummary.failed != 0)     class="failed"    #end>$item.stepsSummary.failed</td>
          <td #if ($item.stepsSummary.skipped != 0)    class="skipped"   #end>$item.stepsSummary.skipped</td>
          <td #if ($item.stepsSummary.pending != 0)    class="pending"   #end>$item.stepsSummary.pending</td>
          <td #if ($item.stepsSummary.undefined != 0)  class="undefined" #end>$item.stepsSummary.undefined</td>
          <td class="total">$item.stepsSummary.total</td>

          <td #if ($item.scenariosSummary.passed != 0) class="passed"    #end>$item.scenariosSummary.passed</td>
           <td #if ($item.scenariosSummary.skipped != 0) class="skipped"    #end>$item.scenariosSummary.skipped</td>
          <td #if ($item.scenariosSummary.failed != 0) class="failed"    #end>$item.scenariosSummary.failed</td>
          <td class="total">$item.scenariosSummary.total</td>

          <td class="duration" data-value="$item.duration">$utils.formatDuration($item.duration)</td>
          <td class="$item.status.name">$item.status.label</td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

#end
