#macro(includeStatsTable, $tableKey, $items, $summary)

<table id="tablesorter" class="stats-table table-hover">

  <thead>
  	<tr class="header dont-sort">
      <th></th>
      <th colspan="4">Scenarios</th>
      <th colspan="2">Result</th>
    </tr>
    <tr>
      <th>$tableKey</th>

      <th class="passed">Passed</th>
      <th class="skipped">Skipped</th>
      <th class="failed">Failed</th>
      <th class="total">Total</th>

      <th>Duration</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    #foreach($item in $items)
      <tr>
      	#set( $link = $utils.link($item) )
        <td class="tagname">
        	#if ($link) <a href="$link">$item.name</a> #else $item.name #end
        	#if ($item.metadata && !$item.metadata.empty())
        	<abbr title="$utils.metadataTooltip($item.metadata)" class="metadata"><img class="icon-label" src="images/label.png"></abbr>
        	#end
        </td>

        <td #if ($item.scenariosSummary.passed > 0) class="passed"    #end>$item.scenariosSummary.passed</td>
        <td #if ($item.scenariosSummary.skipped > 0) class="skipped"    #end>$item.scenariosSummary.skipped</td>
        <td #if ($item.scenariosSummary.failed > 0) class="failed"    #end>$item.scenariosSummary.failed</td>
        <td class="total">$item.scenariosSummary.total</td>

        <td class="duration" data-value="$item.duration">$utils.formatDuration($item.duration)</td>
        <td class="$item.status">$item.status.label</td>
      </tr>
    #end
  </tbody>

  #if ($summary)
  <tfoot class="total">
    <tr>
      <td></td>

      <td>$summary.scenarios.passed</td>
      <td>$summary.scenarios.skipped</td>
      <td>$summary.scenarios.failed</td>
      <td>$summary.scenarios.total</td>

      <td class="duration">$utils.formatDuration($summary.duration)</td>
      <td>$items.size()</td>
    </tr>
    <tr>
      <td></td>
      <td>$utils.percentage($summary.scenarios.passed, $summary.scenarios.total)</td>
      <td>$utils.percentage($summary.scenarios.skipped, $summary.scenarios.total)</td>
      <td>$utils.percentage($summary.scenarios.failed, $summary.scenarios.total)</td>
      <td></td>
      <td></td>
      <td>$utils.percentage($summary.total.passed, $items.size())</td>
    </tr>
  </tfoot>
  #end
</table>

#end
