#macro(includeStatsTable, $tableKey, $features, $summary)

<table id="tablesorter" class="stats-table table-hover">
  
  <thead>
  	<tr class="header dont-sort">
      <th></th>
      <th colspan="4">Scenarios</th>
      <th colspan="2">Result</th>
    </tr>
    <tr>
      <th>$tableKey</th>

      <th class="passed">Passed</th>
      <th class="skipped">Skipped</th>
      <th class="failed">Failed</th>
      <th class="total">Total</th>

      <th>Duration</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    #foreach($feature in $features)
      <tr>
      	#set ( $link = "features/" + $feature.uuid + ".html" )
        <td class="tagname">
        	<a href="$link">$feature.name</a>
        	#if (!$feature.metadata.empty())
        	<abbr title="$utils.metadataTooltip($feature.metadata)" class="metadata"><img class="icon-label" src="images/label.png"></abbr>
        	#end
        </td>
        
        <td #if ($feature.scenariosSummary.passed > 0) class="passed"    #end>$feature.scenariosSummary.passed</td>
        <td #if ($feature.scenariosSummary.skipped > 0) class="skipped"    #end>$feature.scenariosSummary.skipped</td>
        <td #if ($feature.scenariosSummary.failed > 0) class="failed"    #end>$feature.scenariosSummary.failed</td>
        <td class="total">$feature.scenariosSummary.total</td>

        <td class="duration" data-value="$feature.duration">$utils.formatDuration($feature.duration)</td>
        <td class="$feature.status.name">$feature.status.label</td>
      </tr>
    #end
  </tbody>

  <tfoot class="total">
    <tr>
      <td></td>

      <td>$summary.scenarios.passed</td>
      <td>$summary.scenarios.skipped</td>
      <td>$summary.scenarios.failed</td>
      <td>$summary.scenarios.total</td>

      <td class="duration">$utils.formatDuration($summary.duration)</td>
      <td>$features.size()</td>
    </tr>
    <tr>
      <td></td>
      <td>$utils.percentage($summary.scenarios.passed, $summary.scenarios.total)</td>
      <td>$utils.percentage($summary.scenarios.skipped, $summary.scenarios.total)</td>
      <td>$utils.percentage($summary.scenarios.failed, $summary.scenarios.total)</td>
      <td></td>
      <td></td>
      <td>$utils.percentage($summary.features.passed, $features.size())</td>
    </tr>
  </tfoot>
</table>

#end
