#macro(includeHooks $keyword, $hooks, $status)

#if(!$hooks.isEmpty())
  <div class="inner-level hooks-$keyword.toLowerCase()">
    #set($hookId = $counter.next())
    <div data-toggle="collapse" class="#if($status.isPassed()) collapsed #end collapsable-control" data-target="#$keyword.toLowerCase()-$hookId">
      #includeBrief("Hooks", $status, "", true)
    </div>

    <div id="$keyword.toLowerCase()-$hookId" class="inner-level collapse collapsable-details #if (!$status.isPassed()) in #end">
      #foreach($hook in $hooks)
        <div class="hook">
          <div class="brief $hook.status">
            <span class="keyword indention">$keyword</span>
            #if ($hook.location)
              <span class="location name">$hook.location</span>
            #end
            #includeDuration($hook.duration)
          </div>

          #includeMessage($hook.result.errorMessage, $hook.status.isPassed())
          
          #includeOutput($hook.outputs, $hook.status.isPassed())
          #includeEmbeddings($hook.embeddings)
        </div>
      #end
    </div>
  </div>
#end

#end
