#macro(includeSteps, $keyword, $steps, $status)

<div class="steps inner-level">
  #set($stepsId = $counter.next())
  <div data-toggle="collapse" class="#if ($status.isPassed()) collapsed #end collapsable-control" data-target="#steps-$stepsId">
    #includeBrief($keyword, $status, "", true)
  </div>

  <div id="steps-$stepsId" class="inner-level collapse collapsable-details #if (!$status.isPassed()) in #end">
    #foreach($step in $steps)
      #includeHooks("Before", $step.before, $utils.result($step.before).status)
      <div class="step">
        #includeBrief($step.keyword, $step.status, $step.name, false, $step.duration)
        #set($isPassed = $step.status.isPassed())
        
        #includeMessage($step.result.errorMessageTitle, $step.result.errorMessage, $isPassed)

        #if (!$step.rows.isEmpty())
          <table class="step-arguments">
            #foreach($row in $step.rows)
              <tr>
                #foreach($cell in $row.cells)
                  <td>$cell</td>
                #end
              </tr>
            #end
          </table>
        #end

        #includeDocString($step.docString)
        #includeOutput($step.outputs, $isPassed)
        #includeEmbeddings($step.embeddings)
      </div>
      #includeHooks("After", $step.after, $utils.result($step.after).status)
    #end
  </div>
</div>

#end
