#macro(includeTags, $tags)

<div class="tags indention">
  #if (!$tags.isEmpty())
    <b>Tags:</b>
    #foreach($tag in $tags)
       <a href="$basePath/tags/$utils.tagFileName($tag)">$tag</a>
    #end
  #end
</div>

#end
